APP_NAME=nexus-estate-search-service
APP_ENV=develop
APP_IMAGE_TAG=develop
DOCKER_TARGET=development

GO_VERSION=1.23
ALPINE_VERSION=3.20

GRPC_PORT=50052
GRPC_REFLECTION_ENABLED=true

ELASTICSEARCH_VERSION=8.14.3
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_ADDRESSES=http://elasticsearch:9200
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
ELASTICSEARCH_PROPERTY_INDEX=nexus_estate_properties
ES_JAVA_OPTS=-Xms512m -Xmx512m

REDIS_VERSION=7.2-alpine
REDIS_PORT=6379
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_SEARCH_TTL_SECONDS=60

TZ=Asia/Ho_Chi_Minh